# ----------------------------
# Maven / Spring Boot
# ----------------------------
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

*.jar
*.war
*.ear
spring-boot-devtools.properties

# ----------------------------
# Test / Coverage / Reports
# ----------------------------
# JUnit / Surefire / Failsafe
surefire-reports/
failsafe-reports/
test-results/
*.exec
coverage/
jacoco.exec
*.ec

# ----------------------------
# IDEs
# ----------------------------
## IntelliJ IDEA
.idea/
*.iml
*.iws
out/

## Eclipse
.project
.classpath
.settings/

## VS Code
.vscode/

# ----------------------------
# Logs
# ----------------------------
*.log
logs/
*.tmp

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Temporary / Swap files
# ----------------------------
*.swp
*~
